@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

body {
  color: white;
  flex-direction: column;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 430px;
  height: 400px;
  margin: 20px;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    hsl(215, 20%, 17%) 0%,
    hsl(216, 24%, 12%) 100%
  );
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 30px 30px 30px;
  line-height: 50px;
}

.logo {
  height: 40px;
  width: 40px;
  padding: 20px;
  border-radius: 100%;
  background-color: hsl(213, 19%, 18%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo img {
  height: 15px;
  width: 15px;
}

.title {
  font-size: 30px;
  font-weight: 400;
}

.caption {
  line-height: 30px;
  color: hsl(217, 12%, 63%);
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
}

.rating {
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 5px 0px 5px;
  margin-bottom: 30px;
}

.rating button {
  border: none;
  background-color: hsl(213, 19%, 18%);
  height: 48px;
  width: 48px;
  border-radius: 50%;
  color: hsl(217, 12%, 63%);
  font-size: 20px;
  cursor: pointer;
}

.rating button:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.btn-submit {
  background-color: hsl(25, 97%, 53%);
  color: white;
  font-size: 16px;
  padding: 0.8rem 0 0.7rem;
  border-radius: 40px;
  border: none;
  height: 50px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 30px;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .container {
    width: 370px;
    height: 340px;
    padding: 60px 20px 60px 20px;
    line-height: 50px;
    transition: all 200ms ease-in-out;
  }

  .logo {
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 100%;
    background-color: hsl(213, 19%, 18%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .logo img {
    height: 12px;
    width: 12px;
  }

  .title {
    font-size: 25px;
  }

  .caption {
    font-size: 14px;
    line-height: 20px;
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px 0px 5px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: auto;
  }
  .rating button {
    border: none;
    background-color: hsl(213, 19%, 18%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    cursor: pointer;
    margin: 0px 10px 0px 10px;
  }

  .btn-submit {
    height: 35px;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 0.8rem 0 0.7rem;
    font-size: 13px;
  }

  .circles {
    width: 300px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 320px;
    height: 330px;
    padding: 40px 20px 40px 20px;
  }

  .logo {
    height: 35px;
    width: 35px;
    padding: 8px;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .logo img {
    height: 15px;
    width: 15px;
  }

  .title {
    font-size: 20px;
  }

  .caption {
    font-size: 12px;
    line-height: 18px;
  }

  .rating {
    padding: 0px 3px 0px 3px;
    margin-bottom: 20px;
  }

  .rating button {
    height: 30px;
    width: 30px;
    font-size: 12px;
    margin: 0px 15px 0px 5px;
  }

  .btn-submit {
    height: 50px;
    width: 16rem;
    margin-bottom: 15px;
    font-size: 12px;
  }
}
